<div class="row">
  <div class="col-lg-4 col-md-4 col-sm-6">
    <div class="card card-stats" >
      <div class="card-header" data-background-color="orange">
        <i class="fa fa-thermometer-half" aria-hidden="true" fa-5x></i>
      </div>
      <div class="card-content">
        <p class="category">Temperatura Externa</p>
        <h3 class="title">{{valor.external}}ºC</h3>
      </div>
    </div>
  </div>
  <div class="col-lg-4 col-md-4 col-sm-6">
    <div class="card card-stats" >
      <div class="card-header" data-background-color="green">
        <i class="fa fa-thermometer-half" aria-hidden="true" fa-5x></i>
      </div>
      <div class="card-content">
        <p class="category">Temperatura Interna</p>
        <h3 class="title">{{valor.internal}}ºC</h3>
      </div>
    </div>
  </div>
  <div class="col-lg-4 col-md-4 col-sm-6">
    <div class="card card-stats" >
      <div class="card-header" data-background-color="red">
        <i class="fa fa-snowflake-o" aria-hidden="true" fa-5x></i>
      </div>
      <div class="card-content">
        <p class="category">Ar Condicionado</p>
        <h3 class="title">{{valor.airTemp}}ºC</h3>
      </div>
    </div>
  </div>
</div>
