server:
  port: ${PORT:8732}

spring:
  application:
    name: edge-service

  datasource:
    url: jdbc:mysql://nxvendas.cj3qd93dxn7t.sa-east-1.rds.amazonaws.com:3306/smartlab?useSSL=false
    username: smartlab
    password: 123456
    driver-class-name: com.mysql.jdbc.Driver

  jpa:
    properties:
      hibernate:
        show_sql: true
        format_sql: true
    hibernate:
      ddl-auto: update

logging:
  level:
    org:
      hibernate:
        SQL: DEBUG
        type: TRACE

eureka:
  client:
    serviceUrl:
      defaultZone: http://localhost:8761/eureka/

feign:
  client:
    config:
      default:
        connectTimeout: 15000
        readTimeout: 15000
        loggerLevel: basic
---

spring:
  profiles: docker

  datasource:
    url: jdbc:mysql://nxvendas.cj3qd93dxn7t.sa-east-1.rds.amazonaws.com:3306/smartlab?useSSL=false
    username: smartlab
    password: 123456
    driver-class-name: com.mysql.jdbc.Driver
  jpa:
    hibernate:
      ddl-auto: update

eureka:
  client:
    serviceUrl:
      defaultZone: http://discovery:8761/eureka/
  instance:
    prefer-ip-address: true

feign:
  client:
    config:
      default:
        connectTimeout: 15000
        readTimeout: 15000
        loggerLevel: basic